{% extends "layout.html" %}

{% block b %}

    <div id="home">

        <div class="txt-heading">STOCK</div>

        <a id="btnStock" href="/addstock">Add Stock</a>
        <a id="btnLogout" href="/logout">Logout</a>
            <div class="intro">This is the page for stocks!</div>
    
    </div>

        {% for book in books%}
            <div class="stock-item">
                <img class="book-image" src="/static/images/{{ book[5] }}" alt="thumbnail picture">
                <ul>
                    <li>
                        <h4>Book Name: {{ book[0] }}</h4>
                    </li>
                    <li>
                        <h4>ISBN: {{ book[3] }}</h4>
                    </li>
                    <li>
                        <h4>Quantity: {{ book[8] }}</h4>
                    </li>
                </ul>
            </div>
        {% endfor %}

    

{% endblock %}
